@import "tailwindcss";

@plugin "tailwindcss-intersect";
@plugin 'tailwindcss-motion';

@view-transition {
    navigation: auto;
}

@theme {
    /* --font-sans: 'Roboto', sans-serif; */
    --font-sans: var(--font-poppins);
    --color-text: oklch(10.98% 0.01 270.31);

    --color-base-100: oklch(99.43% 0.001 286.38);
    --color-base-200: oklch(97.33% 0.008 271.33);
    --color-base-300: oklch(48.52% 0.0225 279.09);
    --color-base-content: oklch(42.06% 0.049 276.53);
    --color-primary: oklch(62.31% 0.188 259.81);
    --color-primary-content: oklch(97.05% 0.014 254.6);
    --color-secondary: oklch(55.79% 0.022 301.91);
    --color-secondary-content: oklch(95.05% 0.003 308.43);
    --color-accent: oklch(65.59% 0.212 354.31);
    --color-accent-content: oklch(97.14% 0.014 343.2);
    --color-neutral: oklch(45.11% 0.172 270.31);
    --color-neutral-content: oklch(82.15% 0.055 277.12);
    --color-info: oklch(70.38% 0.123 182.5);
    --color-info-content: oklch(98.36% 0.014 180.72);
    --color-success: oklch(76.81% 0.204 130.85);
    --color-success-content: oklch(98.57% 0.031 120.76);
    --color-warning: oklch(79.52% 0.162 86.05);
    --color-warning-content: oklch(98.73% 0.026 102.21);
    --color-error: oklch(64.5% 0.215 16.44);
    --color-error-content: oklch(96.94% 0.015 12.42);

    --animate-click: button-pop 0.2s ease-out;
    --animate-slide-left-infinite: slide-left 25s linear infinite;
    --animate-fade-in-up: fade-in-up ease-out;
    --animate-reveal: reveal 1s forwards;
    --breakpoint-md: 53.75rem;
    --breakpoint-7xl: 1080px;
    --breakpoint-8xl: 96rem;

    @keyframes slide-left {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }

    @keyframes button-pop {
        0% {
            transform: scale(0.97);
        }

        40% {
            transform: scale(1.02);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes fade-in-up {
        from {
            opacity: 0;
            transform: translateY(2rem);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes reveal {
        from {
            opacity: 0;
            clip-path: inset(0% 60% 0% 50%);
        }

        to {
            opacity: 1;
            clip-path: inset(0% 0% 0% 0%);
        }
    }
}

@utility break-right {
    margin-right: -50vw;

    @media (min-width: theme('screens.sm')) {
        margin-right: calc(-1 * ((max(80rem, 100vw) / 2) - (80rem / 2)));
    }
}

@utility break-left {
    margin-left: -50vw;

    @media (min-width: theme('screens.sm')) {

        margin-left: calc(-1 * ((max(80rem, 100vw) / 2) - (80rem / 2)));
    }

    @media (min-width: theme('screens.2xl')) {
        margin-left: 0
    }
}

@custom-variant dialog-open (&[open]);

@layer base {
    p {
        font-size: var(--text-lg);
        line-height: 2rem;
    }

    @media (min-width: theme('screens.lg')) {
        p {
            font-size: 1.3125rem;
            line-height: 2.2rem;
        }
    }

    h1 {
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: bold;
    }

    @media (min-width: theme('screens.lg')) {
        h1 {
            font-size: 3.375rem;
            line-height: 4rem;
        }
    }

    h2 {
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: bold;
    }

    @media (min-width: theme('screens.lg')) {
        h2 {
            font-size: 3.375rem;
            line-height: 4rem;
        }
    }

    @media (min-width: theme('screens.lg')) {
        h2 {
            font-size: var(--text-5xl);
            line-height: 3.5rem;
        }
    }

    @media (min-width: theme('screens.2xl')) {
        h2 {
            font-size: 3.375rem;
            line-height: 4rem;
        }
    }
}

@utility max-w-8xl {
    max-width: var(--breakpoint-8xl);
}