---
import { Icon } from "astro-icon/components";
---

<div
    class="w-screen bg-white h-screen flex flex-col items-center justify-center gap-8"
>
    <Icon name="quote" size="50" />
    <p
        class="text-2xl sm:text-4xl text-black leading-relaxed text-center w-2/3"
    >
        At Happy Frog we don't just trade electronics — we build trust. Our
        mission is to offer unbeatable value while forming long-term
        partnerships across the UK. Every deal we make is backed by integrity,
        speed, and transparency.
    </p>
</div>
