---
import { Icon } from "astro-icon/components";
---

<div
    class="w-screen bg-white h-screen flex flex-col items-center justify-center gap-8"
>
    <Icon name="quote" size="50" />
    <p
        class="text-2xl sm:text-4xl text-black leading-relaxed text-center w-2/3"
    >
    Happy Frog is your trusted partner for electronics in the UK. We're dedicated to delivering unbeatable value and building long-term relationships. Our commitment to integrity, speed, and transparency ensures every transaction is a positive experience.
    </p>
</div>
