---
import Underline from "./reusable/Underline.astro";
---

<section class="w-screen bg-white rounded-t-3xl">
	<div
		class="h-[70vh] sm:h-120 w-full max-w-7xl mx-auto overflow-hidden sm:py-4"
	>
		<div class="relative h-full w-full">
			<video
				id="heroVideo"
				class="h-full w-full object-cover sm:rounded-3xl overflow-hidden"
				muted
				autoplay
				loop
				playsinline
			>
				<source
					src="/hero.mp4"
					type="video/mp4"
					media="(max-width: 640px)"
				/>
				<source src="/hero.mp4" type="video/mp4" />
				Your browser does not support the video tag.
			</video>
			<div
				class="pointer-events-none absolute left-0 bottom-12 sm:left-12 flex items-end justify-start p-12"
			>
				<div class="text-white">
					<h1 class="mt-auto max-w-3xl">
						Your Trusted B2B Company For Electronics in the UK
					</h1>
					<div class="my-6 h-[3px] w-20 bg-white"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="max-w-7xl mx-auto p-8 md:p-12 lg:p-16">
		<div
			class="grid md:grid-cols-2 items-start md:space-x-12 lg:space-x-24"
		>
			<!-- Left Column: Title -->
			<div class="flex-shrink-0 mb-8 md:mb-0">
				<h1
					class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold leading-tight text-center"
				>
					<Underline>Why</Underline> Happy Frog
				</h1>
			</div>

			<!-- Right Column: Description -->
			<div class="flex-grow">
				<p class="text-base sm:text-lg md:text-xl leading-relaxed">
					<strong class="font-semibold">Happy Frog</strong> is a leading
					UK B2B wholesale distributor of consumer electronics, based in
					<strong class="font-semibold">Birmingham, UK</strong>,
					serving clients across <strong class="font-semibold"
						>the UK</strong
					>. We specialize in the sourcing and distribution of
					high-demand tech products — always with <strong
						class="font-semibold"
						>competitive pricing, fast shipping</strong
					>, and <strong class="font-semibold"
						>transparent service</strong
					>.
				</p>
			</div>
		</div>
	</div>
</section>
