---
import Underline from "./reusable/Underline.astro";
import Button from "./reusable/Button.astro";
---
<div class="w-screen bg-white mx-auto px-4 py-16 text-center">
    <h3 class="text-lg font-light text-gray-600 mb-2">A B2B Company Built on Trust</h3>
    <h2 class=" text-gray-900 mb-8">
        <span class="inline-block relative">
            <Underline>Who</Underline> We Are
        </span>
    </h1>
    <p class="max-w-4xl mx-auto text-lg leading-relaxed text-gray-700 mb-12">
        Happy From is a UK-based wholesale distributor of consumer electronics. We specialize in mobile phones, smartwatches, accessories, and IT hardware. Our customers include online sellers, independent stores, and wholesalers across the EU and UK. With strong sourcing relationships and years of trust, we provide the right products at the right time.
    </p>
    <Button link="" buttonText="Learn More About Us" arrow={true}/>
</div>
<!-- 
<div class="container mx-auto px-4 py-16 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 justify-items-center">
    <div class="flex flex-col items-center">
        <img src="https://i.imgur.com/rN5x40T.png" alt="VIP Gold Handelaar Badge" class="w-48 h-auto">
    </div>

    <div class="flex flex-col items-center">
        <img src="https://i.imgur.com/J33K294.png" alt="GSM B2B Member Badge" class="w-48 h-auto">
    </div>

    <div class="flex flex-col items-center">
        <img src="https://i.imgur.com/g8B8b9i.png" alt="Member of IPT Badge" class="w-48 h-auto">
    </div>

    <div class="flex flex-col items-center">
        <img src="https://i.imgur.com/W29F642.png" alt="Member of IGT Badge" class="w-48 h-auto">
    </div>
</div> -->
