---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/PopNav.astro";
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts.ts";
const { metaTitle, metaDescription, metaImage } = Astro.props;
---

<!doctype html>
<html lang="en" class="!scroll-smooth [scrollbar-gutter:stable]">
	<head>
		<BaseHead
			metaTitle={metaTitle || SITE_TITLE}
			metaDescription={metaDescription || SITE_DESCRIPTION}
			metaImage={metaImage}
		/>
	</head>
	<body class="overflow-x-hidden bg-neutral-800">
		<div
			class="w-screen bg-neutral-800 text-white text-center h-16 flex items-center justify-center transition-all transition-div"
		>
			<p class="text-base">A question? Visit our <a class="hover:underline" href="/contact">contact<a/> page</p>
		</div>
		<Navbar />
		<main class="sm:mt-16 w-screen sm:w-[calc(100vw-12px)] bg-white">
			<slot />
		</main>
		<Footer />
		<script>
			window.addEventListener("scroll", function () {
				const div = document.querySelector(
					".transition-div",
				) as HTMLDivElement;
				if (window.scrollY > 0) {
					div.classList.add("!h-0");
				} else {
					div.classList.remove("!h-0");
				}
			});
			import { Observer } from "tailwindcss-intersect";

			Observer.start();
		</script>
	</body>
</html>
